<html>
	<head>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/popcorn-complete.js"></script>
		<script type="text/javascript" src="js/popcorn.soundcloud.js"></script>
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<div id="player"></div>
	</body>
	
	<script type="text/javascript">
		console.log("firing audiohack base")
	    audiohack = new AudioHack.Base({
            soundcloud_id: "http://soundcloud.com/user979634/la-public-safety-08-08-11",
            annotations: [
                    
             ]
	    },{
                
	    });
	</script>
</html>