<html>
	<head>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/popcorn-complete.js"></script>
		<script type="text/javascript" src="js/popcorn.soundcloud.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		
	</body>
	
	<script type="text/javascript">
		audiohack = new AudioHack.Base({
			soundcloud_id: "",
			annotations: [
			
			]
		},{
			
		});
	</script>
</html>