<html>
	<head>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/popcorn-complete.js"></script>
		<script type="text/javascript" src="js/popcorn.soundcloud.js"></script>
        <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<div id="foo"></div>
	</body>
	
	<script type="text/javascript">
        $( function() {
		    popcorn = Popcorn( Popcorn.soundcloud( "foo", "http://soundcloud.com/user979634/la-public-safety-08-08-11", {
                api: {
                    key: "74186e4ab0b72e1d480f4b5e147042fb",
                }
            }) );
        });
	</script>
</html>